@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-scrollbar-background: #273372; /* bg-app-800 */
  --color-scrollbar-thumb: #cacfed; /* bg-app-200 */
  --color-scrollbar-thumb-hover: #ff5252; /* bg-app-accent */
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-background);
}

html {
  font-family: 'Roboto', sans-serif;
}

/* .bg-index {
  @apply bg-app-index;
} */

/* ========== SCROLL BAR ========== */
::-webkit-scrollbar {
  width: 6px;
  background-color: var(--color-scrollbar-background);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar-thumb);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scrollbar-thumb-hover);
}
