@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-scrollbar-background: #273372; /* bg-app-800 */
  --color-scrollbar-thumb: #cacfed; /* bg-app-200 */
  --color-scrollbar-thumb-hover: #ff5252; /* bg-app-accent */
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-background);
}

/* .bg-index {
  @apply bg-app-index;
} */

/* ========== Styles PieChart ========== */
.circle-background,
.circle-progress {
  fill: none;
}

.circle-background {
  stroke: #ffe5d3;
}

.circle-progress {
  stroke: #ff3a29;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.circle-text {
  font-size: 3em;
  font-weight: bold;
  fill: #ff3a29;
}

/* ========== SCROLL BAR ========== */
::-webkit-scrollbar {
  width: 6px;
  background-color: var(--color-scrollbar-background);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar-thumb);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scrollbar-thumb-hover);
}
