@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scrollbar-width: thin;
  scrollbar-color: #bedbfe #1e3a8a;
}

html {
  font-family: 'Roboto', sans-serif;
}

/* .bg-index {
  @apply bg-app-index;
} */

/* ========== SCROLL BAR ========== */
::-webkit-scrollbar {
  width: 6px;
  background-color: #1e3a8a;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #bedbfe;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b91c1b;
}
